.robotDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 238, 235);
  padding-top: 100px;
  height: 100%;
  min-height: 100vh;
}

.title {
  color: rgba(238, 120, 70);
  font-size: 4rem;
}

.subtitle {
  font-size: 2.5rem;
}

hr {
  border-width: 0.5px;
  color: rgb(204, 209, 216);
  border-style: solid;
  width: 80%;
  margin: 25px 0;
}

.card-style {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: #2E3B4E;

  margin-bottom: 25px;
}

.card-border {
  border-radius: 1px 35px 24px 35px;
}

.card-border2 {
  border-radius: 35px 1px 35px 24px;
}

.card-data {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
}

.card-title {
  font-size: 2.5rem;
}

.table-header {
  background-color: rgba(238, 120, 70);
  padding: 12px;
  text-align: left;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
}

table {
  width: 80%;
  margin-bottom: 25px;
}

th {
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  padding: 5px;

}

tr:nth-child(even){
    background-color: white;
}
