/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px/16px */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}