<div class="headerBox">
  <div class="logoBox">
    <img src="../../assets/images/logoCat.png" alt="logoCat" class="logoCat">
    <p class="titleLogo">My Robot Vacuum</p>
  </div>
  <div class="menuBox">
      <div class="subMenuBox">
        <i class="fas fa-home iconStyle"></i>
        <p>Home</p>
      </div>
      <div class="subMenuBox">
        <i class="fas fa-star iconStyle"></i>
        <p>Top 10</p>
      </div>
      <div class="subMenuBox">
        <i class="fas fa-sign-in-alt iconStyle"></i>
        <p>Sign-in/Login</p>
      </div>

  </div>

</div>
