.dashboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 238, 235);
  padding-top: 100px;
}

.jumbotron {
  background-image: url("../../assets/images/jumbotronImage.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 0 7rem;
  margin: 0 7rem;
  height: 100vh;
}