<div class="bgForm">

  <div class="header">
    <p class="login-title">Log in</p>
    <button class="closeButton" mat-dialog-close>&times;</button>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="formLine">
      <p class="text">Username:</p>
      <input
      class="input-style"
      type="text"
      formControlName="username">
    </div>
    <div *ngIf="loginForm.controls.username.errors" >
      <div *ngIf="loginForm.controls.username.errors.required" >
        <p class="errorForm">Username is required</p>
      </div>
    </div>

    <div class="formLine">
      <p class="text">Password:</p>
      <input
      class="input-style"
      type="text"
      formControlName="password">
    </div>
    <div *ngIf="loginForm.controls.password.errors" >
      <div *ngIf="loginForm.controls.password.errors.required" >
        <p class="errorForm">Password is required</p>
      </div>
    </div>

    <p *ngIf="!loginSuccess" class="errorForm wrongLogin">Wrong username and/or password</p>

    <div class="buttonsBottom">
      <button type="submit" class="buttonForm" [disabled]="!loginForm.valid">
        Login
      </button>
      <button (click)="openForm()" class="buttonForm">Register</button>
    </div>

  </form>

</div>