<div class="bgForm">

  <div class="header">
    <p class="login-title">Log in</p>
    <button class="closeButton" mat-dialog-close>&times;</button>
  </div>

  <form novalidate (ngSubmit)="onSubmit()">
    <div class="formLine">
      <p class="text">Username:</p>
      <input class="input-style" type="text" placeholder="enter username..." [(ngModel)]="user.username" name="username">
    </div>

    <div class="formLine">
      <p class="text">Password:</p>
      <input class="input-style"  type="text" placeholder="enter password..." [(ngModel)]="user.password" name="password">
    </div>

    <div class="buttonsBottom">
      <button type="submit" class="buttonForm">Login</button>
      <button (click)="openForm()" class="buttonForm">Register</button>
    </div>

  </form>

</div>