<div class="bgForm">

  <div class="header">
      <h2>Log in</h2>
      <button class="closeButton" mat-dialog-close>&times;</button>
  </div>

  <form novalidate (ngSubmit)="onSubmit()">
    <div class="formLine">
      <p class="text">Username:</p>
      <input type="text" placeholder="enter username..." [(ngModel)]="user.username" name="username">
    </div>
    <div class="formLine">
        <p class="text">Password:</p>
        <input type="text" placeholder="enter password..." [(ngModel)]="user.password" name="password">
      </div>

    <div class="buttonsBottom">
        <button mat-dialog-close class="buttonForm">Cancel</button>
        <button type="submit" class="buttonForm">Submit</button>
    </div>
  </form>

</div>